[Unit]
Description=MQTT and Flask server for TTGO

[Service]
User=ttgo
WorkingDirectory=/home/pi/Code/TTGO-HiGrow/mqtt-server
Environment="PATH=/home/pi/Code/TTGO-HiGrow/mqtt-server/.venv/bin"
ExecStart=server.py

[Install]
WantedBy=multi-user.target